
header {
	margin: 0 auto;
	text-align:center;	
}

header h1 {	
	font-size: 40px;
}

header #new_game,header #score {
	 display: inline-block;
	 margin: 0 15px 15px 15px;
	 
}

header #new_game {
	 border: 1px solid #8f7a66;
	 background-color: #8f7a66;
	 border-radius: 10px;
	 
	 font-family:Arial;
	 font-size: 15px;
     color:#fff;
     padding: 5px;
     text-decoration: none;
}

header #new_game:hover{
	background-color:#9f8b77;
}

header #score{
	font-size: 20px;
}

header #author {
	font-size: 13px;
}

header #author a{
	text-decoration: none;
}


#grid-container{
	width: 450px;
	height: 450px;
	margin: 10px auto;
    background-color:#bbada0;

    border-radius: 10px;
    position: relative;
}
